* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    overflow: hidden;
}

body {
    font-family: 'Rokkitt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
