// Colors
$color-dark: #2c3e50;
$color-dark-transparent-low: #34495e3b;
$color-dark-transparent-high: #2c3e508a;

// Interface
$border-radius: 0.5rem;
$container-width: 50vw;
$container-width--wider: 75vw;
$container-width--widest: 100vw;
