* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

#wrapper {
    margin-top: 2rem;
    height: 100vh;
}

#container {
    width: 50vw;
    height: 75vh;
    position: relative;
    background: rgba(48, 48, 48, 0.473);
    border-radius: 0 0 2.5rem 2.5rem;
    margin: 0 auto;
    box-shadow: 0 1rem 15rem rgba(0, 0, 0, 0.25);
    z-index: 50;
}

#ball {
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 50%;
    background: whitesmoke;
    /* transition: all 0.1s linear; */
    /* box-shadow: 0 0 7.5rem rgba(0, 0, 0, 0.25) inset; */
    z-index: 55;
}

.buttons {
    width: 50vw;
    margin: 0 auto;
    background: rgb(36, 36, 36);
    border-radius: 2.5rem 2.5rem 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 60;
}

button {
    height: 4rem;
    font-size: 2rem;
    margin: 0 1rem;
    background: transparent;
    color: slategray;
    border: 0;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    z-index: 61;
}

button:hover {
    opacity: 1;
}

button:focus {
    outline: none;
}

svg {
    position: fixed;
    bottom: 0;
    left: 0;
}

path {
    transition: fill 0.15s;
    /* min-width: 100vw; */
}

svg:nth-of-type(1) {
    height: 75vh;
    z-index: 7;
    filter: brightness(25%) blur(5rem);
}

svg:nth-of-type(2) {
    height: 75vh;
    z-index: 8;
    filter: brightness(50%);
}
svg:nth-of-type(3) {
    height: 50vh;
    z-index: 9;
    filter: brightness(75%);
}
svg:nth-of-type(4) {
    z-index: 10;
}

.hide {
    display: none;
}
