@import 'base';
@import 'variables';
@import 'mixins';
@import 'keyframes';

#wrapper {
    margin-top: 2rem;
    height: 100vh;
    @media screen and (max-width: 768px) {
        margin-top: 0;
    }
}

.header {
    @include grid(2fr 1fr, none, none, 0);
    width: $container-width;
    margin: 0 auto;
    padding: 0 2.5rem;
    background: $color-dark-transparent-high;
    border-radius: $border-radius $border-radius 0 0;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        width: $container-width--widest;
        border-radius: 0;
        height: 10vh;
        padding: 0 1rem;
    }
    &__logo {
        @include flex(row nowrap, flex-start, center, center);

        h1 {
            color: white;
            font-size: 2rem;
            font-family: 'Pacifico', sans-serif;
            background-clip: text !important;
            -webkit-background-clip: text !important;
            -webkit-text-fill-color: transparent !important;
        }
    }
    &__buttons {
        @include flex(row nowrap, flex-end, center, center);
        z-index: 60;
        button {
            height: 4rem;
            font-size: 2rem;
            margin: 0 1rem;
            background: transparent;
            color: white;
            border: 0;
            cursor: pointer;
            position: relative;
            opacity: 0.75;
            z-index: 61;
            &::-moz-focus-inner {
                border: 0;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                opacity: 1;
            }
            &:focus {
                outline: none;
            }
        }
    }
}

#container {
    // @include grid(1fr, 0, 90% 10%, 0);
    width: $container-width;
    height: 75vh;
    position: relative;
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    margin: 0 auto;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.25);
    z-index: 50;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        width: $container-width--widest;
        background: transparent;
        height: 80vh;
    }
}

#display {
    @include flex(column nowrap, center, center, center);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    transition: opacity 0.5s;
    z-index: 100;
    @media screen and (max-width: 768px) {
        // height: 80%;
    }
    div {
        @include flex(row nowrap, center, center, center);
        background: $color-dark-transparent-low;
        cursor: pointer;
        width: 100%;
        height: 25%;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 2rem;
        font-weight: bold;
        transition: all 0.15s;
        @media screen and (max-width: 768px) {
            // height: 15%;
        }
        &:hover {
            filter: drop-shadow(0 0 3.5rem rgba(0, 0, 0, 0.25));
            z-index: 100;
            height: 50%;
        }
        span {
            position: relative;
            padding-bottom: 0.25rem;
            transition: all 0.15s;
            &::before {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 100%;
                height: 2px;
                background-color: #ffffff;
                transform-origin: center;
                transform: translate(-50%, 0) scaleX(0);
                transition: transform 0.3s ease-in-out;
            }
            &:hover::before {
                transform: translate(-50%, 0) scaleX(1);
            }
        }
    }
}

#message {
    @include flex(column nowrap, center, center, center);
    font-family: 'Pacifico', sans-serif;
    text-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 2rem;
    z-index: 90;
    span {
        filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
        font-family: 'Ubuntu Mono', monospace;
        padding: 1rem;
        margin: 0 0.5rem;
        border-radius: $border-radius;
    }
}

#ball {
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 50%;
    background: whitesmoke;
    transition: opacity 0.5s;
    z-index: 55;
}

#footer {
    @include flex(row nowrap, center, center, center);
    width: $container-width;
    margin: 0 auto;
    padding: 1rem 2.5rem;
    position: relative;
    z-index: 110;
    background: $color-dark-transparent-high;
    border-radius: 0 0 $border-radius $border-radius;
    transition: opacity 1s;
    a {
        text-decoration: none;
        color: white;
        margin: 0 1rem;
        &:hover {
            color: white !important;
        }
    }
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        width: $container-width--widest;
        border-radius: 0;
        border-radius: 0;
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 10vh;
    }
}

svg {
    position: fixed;
    bottom: 0;
    left: 0;
}

path {
    transition: fill 0.15s;
    /* min-width: 100vw; */
    filter: drop-shadow(0 -0.25rem 1rem rgba(0, 0, 0, 0.25));
}

svg:nth-of-type(1) {
    height: 75vh;
    z-index: 7;
    // filter: brightness(25%) blur(5rem);
    filter: blur(5rem);
}

svg:nth-of-type(2) {
    height: 75vh;
    z-index: 8;
    // filter: brightness(50%);
}
svg:nth-of-type(3) {
    height: 50vh;
    z-index: 9;
    // filter: brightness(75%);
}
svg:nth-of-type(4) {
    z-index: 10;
}

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
