@import 'fonts';
@import 'base';
@import 'variables';
@import 'mixins';
@import 'keyframes';

// ! ======================= Wrapper ===========================

#wrapper {
    margin-top: 2rem;
    height: 100vh;
    @media screen and (max-width: 768px) {
        margin-top: 0;
    }
}

// ! ======================= Header ============================

.header {
    @include grid(2fr 1fr, none, none, 0);
    background: $color-dark-transparent-high;
    border-radius: $border-radius $border-radius 0 0;
    -webkit-box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.25);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 7.5vh;
    margin: 0 auto;
    padding: 0 2.5rem;
    width: $container-width;
    position: relative;
    z-index: 150;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        @include grid(2fr 1fr 2fr, none, none, 0);
        // @include flex(row nowrap, space-between, center, center);
        position: fixed;
        top: 0;
        left: 0;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 10vh;
        padding: 0 1rem;
        width: $container-width--widest;
    }
    &__brand {
        @include flex(row nowrap, flex-start, center, center);
        .brand {
            &__logo {
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
                background-clip: text !important;
                color: white;
                font-family: 'Pacifico', sans-serif;
                font-size: 2rem;
                word-spacing: -0.5rem;
                @media screen and (max-width: 768px) {
                    font-size: 1.5rem;
                }
            }
        }
    }
    &__links {
        display: none;

        @media screen and (max-width: 768px) {
            @include flex(row nowrap, center, center, center);
            color: #dedede;
            margin: 0 1rem;
            opacity: 0.15;
            text-decoration: none;
            svg {
                height: 1.25rem;
                margin: 0 0.25rem;
            }
        }
    }
    &__controls {
        @include flex(row nowrap, flex-end, center, center);
        z-index: 60;
        .controls {
            &__button {
                background: transparent;
                border: 0;
                color: white;
                cursor: pointer;
                height: 1.5rem;
                margin: 0 1rem;
                opacity: 0.9;
                position: relative;
                z-index: 61;
                svg {
                    height: 1.5rem;
                }
                &::-moz-focus-inner {
                    border: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
                &:hover {
                    opacity: 1;
                    -webkit-filter: drop-shadow(0 0.1rem rgba(0, 0, 0, 0.25));
                    filter: drop-shadow(0 0.1rem rgba(0, 0, 0, 0.25));
                    -webkit-transform: scale(1.25);
                    -ms-transform: scale(1.25);
                    transform: scale(1.25);
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

// ! ======================= Settings ==========================

.settings {
    @include grid(1fr 4fr, 0, none, 0.75rem);
    background: $color-dark-transparent-high;
    margin: 0 auto;
    padding: 0.75rem 2.5rem;
    position: relative;
    width: $container-width;
    z-index: 150;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        @include grid(10% 90%, 0, none, 0);
        position: fixed;
        top: 10vh;
        left: 0;
        background: $color-dark-transparent-high;
        height: 15vh;
        padding: 0.25rem 1rem;
        grid-row-gap: 0;
        width: $container-width--widest;
    }
    h3 {
        @include flex(row nowrap, center, center, center);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: normal;
        font-size: 1.5rem;
        @media screen and (max-width: 768px) {
            margin: 0;
        }
    }
    &__switch {
        @include flex(row nowrap, center, center, center);
        label {
            margin: 0 1rem;
            @media screen and (max-width: 768px) {
                margin: 0 0.25rem;
                font-size: 0.75rem;
            }
        }
    }
    &__sat,
    &__lightness {
        @include flex(row nowrap, space-between, center, center);
    }
    .toggle {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 62px;
        height: 32px;
        display: inline-block;
        position: relative;
        border-radius: 50px;
        overflow: hidden;
        outline: none;
        border: none;
        cursor: pointer;
        background-color: #707070;
        -webkit-transition: background-color ease 0.3s;
        -o-transition: background-color ease 0.3s;
        transition: background-color ease 0.3s;
        &:before {
            content: 'on off';
            display: block;
            position: absolute;
            z-index: 2;
            width: 28px;
            height: 28px;
            background: #fff;
            left: 2px;
            top: 2px;
            border-radius: 50%;
            font: 10px/28px Helvetica;
            text-transform: uppercase;
            font-weight: bold;
            text-indent: -22px;
            word-spacing: 37px;
            color: #fff;
            text-shadow: -1px -1px rgba(0, 0, 0, 0.15);
            white-space: nowrap;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            -webkit-transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
            -o-transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
            transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
        }
        &:checked {
            background-color: #57cce9;
        }
        &:checked:before {
            left: 32px;
        }
    }
}

// ! ======================= Container =========================

.container {
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    -webkit-box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.25);
    height: 60vh;
    margin: 0 auto;
    position: relative;
    width: $container-width;
    z-index: 50;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        position: fixed;
        top: 25vh;
        left: 0;
        background: transparent;
        border-radius: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        height: 75vh;
        width: $container-width--widest;
    }
}

// ! ======================= Palette ===========================

.palette {
    @include flex(column nowrap, center, center, center);
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    width: 100%;
    z-index: 100;
    &__color {
        @include flex(row nowrap, center, center, center);
        background: $color-dark-transparent-low;
        cursor: pointer;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.25rem;
        font-weight: normal;
        color: azure;
        text-shadow: 0 0.1rem rgba(0, 0, 0, 0.25);
        -webkit-transition: all 0.15s;
        -o-transition: all 0.15s;
        transition: all 0.15s;
        width: 100%;
        &--1 {
            -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
            -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
        }
        &--2 {
            -webkit-animation-delay: 0.1s !important;
            animation-delay: 0.1s !important;
            -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
        }
        &--3 {
            -webkit-animation-delay: 0.2s !important;
            animation-delay: 0.2s !important;
            -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
        }
        &--4 {
            -webkit-animation-delay: 0.3s !important;
            animation-delay: 0.3s !important;
            -ms-flex-preferred-size: 10%;
            flex-basis: 10%;
        }
        &--5 {
            -webkit-animation-delay: 0.4s !important;
            animation-delay: 0.4s !important;
            -ms-flex-preferred-size: 35%;
            flex-basis: 35%;
        }
        &:hover {
            -webkit-filter: drop-shadow(0 0 3.5rem rgba(0, 0, 0, 0.25));
            filter: drop-shadow(0 0 3.5rem rgba(0, 0, 0, 0.25));
            -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
            z-index: 100;
        }
        &__value {
            padding-bottom: 0.5rem;
            position: relative;
            -webkit-transition: all 0.15s;
            -o-transition: all 0.15s;
            transition: all 0.15s;
            &::before {
                background-color: #ffffff;
                bottom: 0;
                content: '';
                height: 0.3rem;
                left: 50%;
                position: absolute;
                -webkit-transform-origin: center;
                -ms-transform-origin: center;
                transform-origin: center;
                -webkit-transform: translate(-50%, 0) scaleX(0);
                -ms-transform: translate(-50%, 0) scaleX(0);
                transform: translate(-50%, 0) scaleX(0);
                -webkit-transition: -webkit-transform 0.25s ease-in-out;
                transition: -webkit-transform 0.25s ease-in-out;
                -o-transition: transform 0.25s ease-in-out;
                transition: transform 0.25s ease-in-out;
                transition: transform 0.25s ease-in-out,
                    -webkit-transform 0.25s ease-in-out;
                width: 250%;
            }
            &:hover::before {
                -webkit-transform: translate(-50%, 0) scaleX(1);
                -ms-transform: translate(-50%, 0) scaleX(1);
                transform: translate(-50%, 0) scaleX(1);
                // Maybe mq for mobiel here
            }
        }
    }
}

// ! ======================= Message ===========================

.message {
    @include flex(column nowrap, center, center, center);
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
    &__text {
        font-family: 'Pacifico', sans-serif;
        font-size: 1.5rem;
        text-shadow: 0 0.075rem 2.5rem rgba(0, 0, 0, 0.5);
        @media screen and (max-width: 1024px) {
            font-size: 1.25rem;
        }
        @media screen and (max-width: 768px) {
            font-size: 1.25rem;
        }
    }
    &__color {
        border-radius: $border-radius;
        -webkit-filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
        filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
        font-family: 'Ubuntu Mono', monospace;
        margin: 0 0.5rem;
        padding: 1rem;
    }
}

// ! ======================= Ball ==============================

.ball {
    background: whitesmoke;
    border-radius: 41% 59% 38% 62% / 57% 41% 59% 43%;
    -webkit-animation: rotate 5s linear infinite;
    animation: rotate 5s linear infinite;
    height: 5rem;
    position: absolute;
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    width: 5rem;
    z-index: 55;
}

// ! ======================= Footer ============================

.footer {
    @include flex(row nowrap, center, center, center);
    // animation-delay: 0.25s !important;
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    height: 7.5vh;
    margin: 0 auto;
    padding: 0 2.5rem;
    position: relative;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    width: $container-width;
    z-index: 110;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        display: none;
        // -webkit-animation: none !important;
        // animation: none !important;
        // border-radius: 0;
        // border-radius: 0;
        // bottom: 0;
        // height: 10vh;
        // opacity: 1 !important;
        // position: fixed;
        // width: $container-width--widest;
        // width: 100vw;
    }
    &__link {
        @include flex(row nowrap, center, center, center);
        color: white;
        margin: 0 1rem;
        opacity: 0.5;
        text-decoration: none;
        svg {
            height: 1rem;
            margin: 0 0.25rem;
        }
        span {
            font-size: 1rem;
        }
        &:hover {
            opacity: 9 !important;
        }
    }
}

// ! ======================= Waves =============================
.waveContainer {
    .wave {
        bottom: 0;
        left: 0;
        position: fixed;
        path {
            filter: drop-shadow(0 -0.25rem 1rem rgba(0, 0, 0, 0.25));
            transition: fill 0.15s;
        }
        &4 {
            filter: blur(5rem);
            height: 75vh;
            z-index: 7;
            @media screen and (max-width: 768px) {
                height: 100vh;
                transform: translate(-25vw, -10vh);
            }
        }
        &3 {
            height: 75vh;
            z-index: 8;
            @media screen and (max-width: 768px) {
                height: 100vh;
            }
        }
        &2 {
            height: 50vh;
            z-index: 9;
            @media screen and (max-width: 768px) {
                height: 75vh;
            }
        }
        &1 {
            z-index: 10;
            @media screen and (max-width: 768px) {
                height: 50vh;
            }
        }
    }
}

// ! ======================= Utilities =========================

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
