@import 'base';
@import 'variables';
@import 'mixins';

#wrapper {
    margin-top: 2rem;
    height: 100vh;
}

#container {
    width: $container-width;
    height: 80vh;
    position: relative;
    background: $color-dark-transparent-high;
    border-radius: 0 0 $border-radius $border-radius;
    margin: 0 auto;
    box-shadow: 0 1rem 15rem rgba(0, 0, 0, 0.25);
    z-index: 50;
}

#display {
    @include flex(column nowrap, center, center, center);
    position: absolute;
    width: 100%;
    height: 100%;
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    transition: opacity 0.5s;
    z-index: 99;
    div {
        @include flex(row nowrap, center, center, center);
        background: red;
        border-radius: $border-radius;
        width: 35%;
        height: 12.5%;
        margin: 1rem 0;
    }
}

#ball {
    width: 5rem;
    height: 5rem;
    position: absolute;
    border-radius: 50%;
    background: whitesmoke;
    transition: opacity 0.5s;
    z-index: 55;
}

.buttons {
    width: $container-width;
    margin: 0 auto;
    background: $color-dark;
    border-radius: $border-radius $border-radius 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    z-index: 60;
}

button {
    height: 4rem;
    font-size: 2rem;
    margin: 0 1rem;
    background: transparent;
    color: slategray;
    border: 0;
    cursor: pointer;
    position: relative;
    opacity: 0.75;
    z-index: 61;
}

button:hover {
    opacity: 1;
}

button:focus {
    outline: none;
}

svg {
    position: fixed;
    bottom: 0;
    left: 0;
}

path {
    transition: fill 0.15s;
    /* min-width: 100vw; */
}

svg:nth-of-type(1) {
    height: 75vh;
    z-index: 7;
    filter: brightness(25%) blur(5rem);
}

svg:nth-of-type(2) {
    height: 75vh;
    z-index: 8;
    filter: brightness(50%);
}
svg:nth-of-type(3) {
    height: 50vh;
    z-index: 9;
    filter: brightness(75%);
}
svg:nth-of-type(4) {
    z-index: 10;
}

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
