@import 'base';
@import 'variables';
@import 'mixins';
@import 'keyframes';

// ! === Wrapper ================================================

#wrapper {
    margin-top: 2rem;
    height: 100vh;
    @media screen and (max-width: 768px) {
        margin-top: 0;
    }
}

// ! === Header ================================================

.header {
    @include grid(2fr 1fr, none, none, 0);
    background: $color-dark-transparent-high;
    border-radius: $border-radius $border-radius 0 0;
    user-select: none;
    height: 7.5vh;
    margin: 0 auto;
    padding: 0 2.5rem;
    width: $container-width;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        border-radius: 0;
        height: 10vh;
        padding: 0 1rem;
        width: $container-width--widest;
    }
    &__brand {
        @include flex(row nowrap, flex-start, center, center);
        .brand {
            &__logo {
                -webkit-background-clip: text !important;
                -webkit-text-fill-color: transparent !important;
                background-clip: text !important;
                color: white;
                font-family: 'Pacifico', sans-serif;
                font-size: 2rem;
            }
        }
    }
    &__controls {
        @include flex(row nowrap, flex-end, center, center);
        z-index: 60;
        .controls {
            &__button {
                background: transparent;
                border: 0;
                color: white;
                cursor: pointer;
                height: 1.5rem;
                margin: 0 1rem;
                opacity: 0.9;
                position: relative;
                z-index: 61;
                svg {
                    height: 1.5rem;
                }
                &::-moz-focus-inner {
                    border: 0;
                }
                &:last-of-type {
                    margin-right: 0;
                }
                &:hover {
                    opacity: 1;
                    filter: drop-shadow(0 0.1rem rgba(0, 0, 0, 0.25));
                    transform: scale(1.25);
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}

// ! === Container ================================================

.container {
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.25);
    height: 70vh;
    margin: 0 auto;
    position: relative;
    width: $container-width;
    z-index: 50;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        background: transparent;
        border-radius: 0;
        box-shadow: none;
        height: 80vh;
        width: $container-width--widest;
    }
}

// ! === Palette ================================================

.palette {
    @include flex(column nowrap, center, center, center);
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.5s;
    width: 100%;
    z-index: 100;
    // @media screen and (max-width: 768px) {
    //     height: 90%;
    // }
    &__color {
        @include flex(row nowrap, center, center, center);
        background: $color-dark-transparent-low;
        cursor: pointer;
        font-family: 'Ubuntu Mono', monospace;
        font-size: 1.25rem;
        font-weight: bold;
        // height: 25%;
        text-shadow: 0 0 2rem rgba(0, 0, 0, 0.25);
        transition: all 0.15s;
        width: 100%;
        &--1 {
            animation-delay: 0s !important;
            flex-basis: 35%;
        }
        &--2 {
            animation-delay: 0.1s !important;
            flex-basis: 10%;
        }
        &--3 {
            animation-delay: 0.2s !important;
            flex-basis: 10%;
        }
        &--4 {
            animation-delay: 0.3s !important;
            flex-basis: 10%;
        }
        &--5 {
            animation-delay: 0.4s !important;
            flex-basis: 35%;
        }
        &:hover {
            filter: drop-shadow(0 0 3.5rem rgba(0, 0, 0, 0.25));
            // height: 50%;
            flex-basis: 50%;
            z-index: 100;
        }
        &__value {
            padding-bottom: 0.25rem;
            position: relative;
            transition: all 0.15s;
            &::before {
                background-color: #ffffff;
                bottom: 0;
                content: '';
                height: 0.2rem;
                left: 50%;
                position: absolute;
                transform-origin: center;
                transform: translate(-50%, 0) scaleX(0);
                transition: transform 0.3s ease-in-out;
                width: 100%;
            }
            &:hover::before {
                transform: translate(-50%, 0) scaleX(1);
            }
        }
    }
}

// ! === Message ================================================

.message {
    @include flex(column nowrap, center, center, center);
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 90;
    &__text {
        font-family: 'Pacifico', sans-serif;
        font-size: 2rem;
        text-shadow: 0 0.075rem 2.5rem rgba(0, 0, 0, 0.5);
        @media screen and (max-width: 768px) {
            font-size: 1.25rem;
        }
    }
    &__color {
        border-radius: $border-radius;
        filter: drop-shadow(0 0.25rem 1rem rgba(0, 0, 0, 0.25));
        font-family: 'Ubuntu Mono', monospace;
        margin: 0 0.5rem;
        padding: 1rem;
    }
}

// ! === Ball ================================================

.ball {
    background: whitesmoke;
    border-radius: 50%;
    height: 5rem;
    position: absolute;
    transition: opacity 0.5s;
    width: 5rem;
    z-index: 55;
}

// ! === Footer ================================================

.footer {
    @include flex(row nowrap, center, center, center);
    // animation-delay: 0.25s !important;
    background: $color-dark-transparent-low;
    border-radius: 0 0 $border-radius $border-radius;
    height: 7.5vh;
    margin: 0 auto;
    padding: 0 2.5rem;
    position: relative;
    transition: opacity 1s;
    width: $container-width;
    z-index: 110;
    @media screen and (max-width: 1024px) {
        width: $container-width--wider;
    }
    @media screen and (max-width: 768px) {
        animation: none !important;
        border-radius: 0;
        border-radius: 0;
        bottom: 0;
        height: 10vh;
        opacity: 1 !important;
        position: fixed;
        width: $container-width--widest;
        width: 100vw;
    }
    &__link {
        @include flex(row nowrap, center, center, center);
        color: white;
        margin: 0 1rem;
        opacity: 0.5;
        text-decoration: none;
        svg {
            height: 1rem;
            margin: 0 0.25rem;
        }
        span {
            font-size: 1rem;
        }
        &:hover {
            opacity: 9 !important;
        }
    }
}

// ! === Waves ================================================

.wave {
    bottom: 0;
    left: 0;
    position: fixed;
    path {
        filter: drop-shadow(0 -0.25rem 1rem rgba(0, 0, 0, 0.25));
        transition: fill 0.15s;
    }
    &4 {
        filter: blur(5rem);
        height: 75vh;
        z-index: 7;
        @media screen and (max-width: 768px) {
            height: 100vh;
            transform: translate(-25vw, -10vh);
        }
    }
    &3 {
        height: 75vh;
        z-index: 8;
        @media screen and (max-width: 768px) {
            height: 100vh;
        }
    }
    &2 {
        height: 50vh;
        z-index: 9;
        @media screen and (max-width: 768px) {
            height: 75vh;
        }
    }
    &1 {
        z-index: 10;
        @media screen and (max-width: 768px) {
            height: 50vh;
        }
    }
}

// ! === Utility Classes ================================================

.hide {
    opacity: 0;
}
.show {
    opacity: 1;
}
